/* @import url("http://fonts.cdnfonts.com/css/gotham-bold"); */

@font-face {
    font-family: "Gotham Bold";
    font-style: normal;
    font-weight: 400;
    src: local("Gotham Bold"), url("fonts/GothamBold.woff") format("woff");
}

@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 500;
    src: local("Gotham"), url("fonts/GothamMedium.woff") format("woff");
}

body {
    font-family: "Gotham", sans-serif;
    /* font-family: "Gotham Bold", sans-serif; */
}

.font-gotham-bold {
    font-family: "Gotham Bold", sans-serif;
}

.text-dark {
    color: #333 !important;
}

a.text-dark:hover,
a.text-dark:focus {
    color: #333 !important;
}

.text-yellow {
    color: #fdcb0a !important;
}

a.text-yellow:hover,
a.text-yellow:focus {
    color: #fdcb0a !important;
}

.bg-yellow {
    background-color: #fdcb0a !important;
}

.navbar-brand img {
    height: 40px;
}

#sliderHome .owl-dots {
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

#sliderHome img {
    object-fit: cover;
}

#sliderHome .title-carousel {
    width: 40%;
    font-size: 4.5rem;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#servicesBanner img {
    object-fit: cover;
}

#servicesBanner .title {
    width: 40%;
    font-size: 4.5rem;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(50%, -50%);
}

#creatorsBanner img {
    object-fit: cover;
}

#creatorsBanner .title {
    width: 100%;
    font-size: 4.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

#aboutBanner img {
    object-fit: cover;
}

#aboutBanner .title {
    width: 100%;
    font-size: 4.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

#newsList .owl-nav .owl-next {
    position: absolute;
    right: 0;
    top: 28%;
    color: #fff;
}

#newsList .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    top: 28%;
    color: #fff;
}

#creator-data {
    margin-top: 0.5rem;
}

#creatorList .creator-item {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

#creatorList .box-creator {
    overflow: hidden;
}

#creatorList .box-creator img {
    width: 100%;
    height: 25rem;
    transition: transform 0.3s;
    z-index: 1;
    object-fit: cover;
}

#creatorList .box-creator:hover img {
    transform: scale(1.2);
}

#creatorList .box-creator:hover .box-name {
    display: block;
}

#creatorList .box-creator .box-name {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

#creatorList .box-creator:hover .box-sosmed {
    display: block;
}

#creatorList .box-creator .box-sosmed {
    display: none;
    position: absolute;
    transition: all 0.3s ease-out;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    animation: fadein 0.3s;
    z-index: 2;
}

#creatorList .box-creator .box-sosmed .logo {
    line-height: 21px;
}

#creatorList .box-creator .overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

#creatorList .owl-nav .owl-next {
    position: absolute;
    right: 0;
    top: 45%;
    color: #fff;
}

#creatorList .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    top: 45%;
    color: #fff;
}

#aboutUs .affiliates .items img {
    transition: transform 0.2s;
}

#aboutUs .affiliates .items img:hover {
    transform: scale(1.2);
}

#serviceList .box-creator {
    overflow: hidden;
}

#serviceList .box-creator img.card-img {
    width: 100%;
    height: 15rem;
    transition: transform 0.3s;
    z-index: 1;
    object-fit: cover;
}

#serviceList .box-creator:hover img.card-img {
    transform: scale(1.2);
}

#serviceList .box-creator .litle-img {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
}

#serviceList .box-creator .litle-img img {
    width: 50%;
}

#serviceList .box-creator .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

.section-profile-cover {
    height: 25rem !important;
}

@media (max-width: 991.98px) {
    .section-profile-cover {
        height: 15rem !important;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#home-news {
    margin: 0 !important;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

#home-news .title-mobile {
    display: block;
    padding-top: 2rem;
}

#home-news .title-desktop {
    display: none;
    margin-top: 3rem;
}

#home-news .view-all-mobile {
    display: block;
}

#home-creators {
    padding-bottom: 5rem;
}

#home-creators .action-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    z-index: 2;
}

#home-creators .action-container .name-bottom {
    line-height: 1rem;
}

#home-creators .action-container .description {
    font-size: 0.8rem;
}

#about-who-we-are {
    margin: 0 !important;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0;
}

#about-who-we-are .name {
    text-align: center;
}

#about-who-we-are .description {
    margin-top: 1.5rem !important;
}

#about-news {
    padding-top: 2rem;
    padding-bottom: 0;
}

#about-news .title-mobile {
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#about-news .title-desktop {
    display: none;
    margin-top: 3rem;
}

#about-news .view-all-mobile {
    display: block;
}

#about-core-business {
    margin: 0 !important;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

#about-core-business .icon-desktop {
    display: none;
}

#about-core-business .icon-mobile {
    display: block;
}

#about-core-business .container-name {
    text-align: center;
}

#about-core-business .container-name .name-top {
    font-size: 2rem;
}

#about-core-business .container-name .name-bottom {
    font-size: 2rem;
    line-height: 0.5;
}

#services-portofolio .name-container {
    font-size: 1.75rem;
    color: #000;
    padding-right: 15px;
    padding-left: 15px;
}

#services-portofolio .action-desktop a,
#services-portofolio .action-mobile {
    color: #000;
}

#services-portofolio .action-mobile {
    display: block;
}

#services-portofolio .action-desktop {
    display: none;
}

#services-portofolio .name {
    line-height: 1;
    padding-bottom: 1rem;
    text-align: center;
}

#services-portofolio .item {
    width: 50%;
}

#services-portofolio .item-mobile {
    display: none;
}

#services-list .name {
    text-align: center;
    margin-top: 1.2rem;
}

#services-our-client .item {
    width: 33.33333%;
}

#services-our-client .name-desktop {
    display: none;
    width: 14.22222%;
    color: #000;
}

#services-our-client .name-mobile {
    display: block;
    text-align: center;
}

#servicesPortofolio .name {
    text-align: center;
    padding-bottom: 1rem;
}

#servicesPortofolio .item {
    width: 50%;
    padding: 10px 10px;
}

#videos-detail .name-new-update {
    padding-top: 3rem;
}

#videos-detail {
    padding-bottom: 5rem;
}

#servicesDetail .name {
    font-size: 2rem;
    text-align: center;
}

#creator-detail .name {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

@media (min-width: 300px) {
    #home-news .name-top {
        font-size: 3rem;
        font-weight: 600;
        line-height: 0.5;
    }

    #home-news .name-bottom {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.5;
    }

    #about-news .name-top {
        font-size: 3rem;
        font-weight: 600;
        line-height: 0.5;
    }

    #about-news .name-bottom {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .slider-hone-text {
        font-size: 1rem !important;
    }
    .title-section {
        font-size: 2rem !important;
    }

    .video-detail {
        margin-top: 1rem !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 500px) {
    .slider-hone-text {
        font-size: 2rem !important;
    }

    .title-section {
        font-size: 3rem !important;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    #home-news {
        padding-top: 8rem;
        padding-bottom: 3rem;
    }

    #home-news .title-mobile {
        display: none;
    }

    #home-news .title-desktop {
        display: block;
    }

    #home-news .name-top {
        font-size: 4rem;
        font-weight: 600;
        line-height: 0.5;
    }

    #home-news .name-bottom {
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.5;
    }

    #home-news .view-all-mobile {
        display: none;
    }

    #about-who-we-are .name {
        text-align: left;
    }

    #about-who-we-are {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    #about-who-we-are .description {
        margin-top: 3rem !important;
    }

    #about-news {
        padding-top: 7rem;
        padding-bottom: 6rem;
    }

    #about-news .title-mobile {
        display: none;
    }

    #about-news .title-desktop {
        display: block;
    }

    #about-news .name-top {
        font-size: 4rem;
        font-weight: 600;
        line-height: 0.5;
    }

    #about-news .name-bottom {
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.5;
    }

    #about-news .view-all-mobile {
        display: none;
    }

    #about-news .news-title-left {
        position: absolute;
        border-radius: 0.5rem;
        right: 27%;
        background: #fff;
        bottom: 18px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        width: 100%;
        transform: translate(5%, 80%);
    }

    #about-news .news-title-right {
        position: absolute;
        border-radius: 0.5rem;
        left: 27%;
        background: #fff;
        bottom: 18px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
        width: 100%;
        transform: translate(5%, 80%);
    }

    #about-core-business {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    #about-core-business .icon-desktop {
        display: block;
    }

    #about-core-business .icon-mobile {
        display: none;
    }

    #about-core-business .container-name {
        margin-left: 7rem;
        margin-top: 5rem;
        text-align: left;
    }

    #about-core-business .container-name .name-top {
        font-size: 7.3rem;
        font-weight: 600;
        line-height: 0.5;
    }

    #about-core-business .container-name .name-bottom {
        font-size: 7.3rem;
        font-weight: 600;
        line-height: 1.5;
    }

    #creator-data {
        margin-top: 1rem;
    }

    #creatorList .creator-item {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    #services-portofolio .name-container {
        text-align: center;
        z-index: 2;
        width: 30%;
        font-size: 4.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%, -50%);
        color: #000;
    }

    #services-portofolio .name {
        line-height: 1;
    }

    #services-portofolio .action-desktop {
        display: block;
    }

    #services-portofolio .action-mobile {
        display: none;
    }

    #services-portofolio .item {
        width: 20%;
    }

    #services-portofolio .item-mobile {
        display: block;
    }

    #services-list .name {
        text-align: left;
    }

    #services-our-client .item {
        width: 14.22222%;
    }

    #services-our-client .name-desktop {
        display: block;
    }

    #services-our-client .name-mobile {
        display: none;
    }

    #servicesPortofolio .name {
        text-align: left;
    }

    #servicesPortofolio .item {
        width: 20%;
        padding: 0;
    }

    #videos-detail {
        padding-bottom: 3rem;
    }

    #videos-detail .name-new-update {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    #servicesDetail .name {
        font-size: 6rem;
        line-height: 1;
        text-align: left;
    }

    #creator-detail .name {
        text-align: left;
        font-size: 7rem;
        line-height: 1;
        padding-bottom: 0;
    }

    .slider-hone-text {
        font-size: 4rem !important;
    }

    .title-section {
        font-size: 3.3rem !important;
    }

    .video-detail {
        margin-top: 0 !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #home-news .name-top {
        font-size: 5.3rem;
    }

    #home-news .name-bottom {
        font-size: 5.3rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
